<div id="num-of-com">
	<span class="num_com"><%=@numOfComments%>&nbsp;&nbsp;COMMENTS</span>
	<span class="num_com_adrs">khaledbouchama.com</span>
	<span id="login-link"><%= link_to("Login", users_login_path(@article.id))%><%= link_to(" / register", users_register_path(@article.id))%></span>
	<div id="msg-ico"><%= image_tag('msgico.png')%></div>
</div>